@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src:url('../fontes/idroid.otf') format('opentype');
    font-weight: bolder;
}

:root{
    --cor0:#daffeb;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-destaque:'Bebas Neue';
    --font-android:'Android';
    --fonte-padrao:Arial,Verdana,Helvetica,sans-serif;

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}
main{
    max-width: 1000px;
    min-width: 300px;
    background-color: var(--cor0);
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}

main p{
    margin:15px 0px ;
    line-height: 2em;
    text-align: justify;
    text-indent: 40px;
    font-size: 1.2em;
    

}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main strong
{
    background-color:var(--cor1);
    font-weight: bold;
    
    
}
main a{
    background-color: var(--cor1);
    text-decoration: none;
    color: var(--cor3);
    font-weight: bolder;

}
main h1{
    font-family: var(--font-android);
}
main h2{
    font-family: var(--font-android);
    background-image: linear-gradient(to right,var(--cor2),transparent);
    color:var(--cor4);
}
main a.externo::after
{
    content:'\1F517';
}
header{
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor5));
     text-align: center;
    min-height: 150px;
    padding-top: 40px;
    padding-bottom: 20px;

    
}
header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 350px;
    margin: auto;
}
header > h1{
    font-size: 3em;
    font-family: var(--fonte-destaque);
    color: white;
    margin-bottom: 20px;
    text-shadow:2px 2px 0px #000000;  

}
nav{
    background-color: var(--cor5);
    text-decoration: none;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.445);   
}
nav > a 
{
    padding: 5px;
    color: var(--cor1);
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav >a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
aside{

    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;

    
}
aside > ul{
    list-style-position: inside;
    columns: 2;
}
aside h3{
    border-radius: 10px 10px 0px 0px;
    background-color: var(--cor4);
    margin: -10px;
    padding: 15px;
    color: white;
}
footer{
    background-color:var(--cor5);
    padding: 10px 0px;
    
}

footer > p{
    color: white;
    text-align: center;
    
}
footer > p > a{
    font-weight: 700;
    color: rgba(255, 255, 255, 0.658);
    text-decoration: none;
}
footer > p > a:hover {
    color: var(--cor2);
}
div.video{

    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}
div.video > iframe{

    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;

}